* {
  outline: none;
}

html, article, aside, audio, blockquote, body, dd, dialog, div, dl, dt,
fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input,
li, mark, menu, nav, ol, p, pre, section, td, textarea, th, time, ul,
video, main {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

q:after, q:before {
  content: "";
}

embed, object {
  vertical-align: top;
}

hr, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

abbr, acronym, fieldset, img {
  border: 0;
}

li {
  list-style-type: none;
}

sup {
  vertical-align: super;
  font-size: 0.5em;
}

img {
  vertical-align: top;
}

i {
  font-style: normal;
}

svg {
  vertical-align: middle;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

nav, ul {
  list-style: none;
}

html {
  font-size: small;
  line-height: 1.5;
}

html .fancybox-button--thumbs, html .fancybox-button--play {
  display: none;
}

body {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: none;
  font-size: 139%;
}

.ie body {
  font-size: 135%;
}

body a {
  color: #000;
  text-decoration: none;
  outline: none;
}

body a:hover {
  text-decoration: none;
}

body img {
  max-width: 100%;
  -webkit-touch-callout: none;
  line-height: 1;
  outline: none;
}

body,
pre,
input,
textarea,
select {
  font-family: 'Noto Sans KR', sans-serif;
}

input,
select,
textarea {
  font-size: 100%;
}

html.ie8 .view_tab,
html.ie8 .view_tab_sp,
html.ie8 .view_sp {
  display: none !important;
}

html.ie8 #con_page {
  min-width: 1280px !important;
  margin: auto;
  font-size: 100% !important;
}

@media only screen and (min-width: 1200px) {
  body .view_tab-sp,
  body .view_tab {
    display: none !important;
  }
}

@media print {
  body .view_tab-sp,
  body .view_tab {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  body .view_sp {
    display: none !important;
  }
}

@media only screen and (max-width: 1199px) {
  body .view_pc {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  body .view_pc-tab,
  body .view_tab {
    display: none !important;
  }
}

#con_page {
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  #con_page {
    width: 100%;
    margin: auto;
  }
}

@media print {
  #con_page {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  #con_page {
    font-size: 100% !important;
  }
}

header {
  background-color: #ebebeb;
  height: 10vh;
}

#con_page {
  height: 30vh;
}

footer {
  background-color: #ddd;
  height: 10vh;
}
